<h1 class="login-page-title"><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<div class="login-wrapper">
    <div class="login-box">
        <form id="loginForm" action="/account/login" method="post">
            <label for="account_email">
                User Name:
                <input type="email" name="account_email" id="account_email" required value="<%= locals.account_email%>" placeholder="email@email.com">
            </label>
            <label for="account_password">
                Password:
                <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            </label>
            <!-- <span id="ShowPwdBtn">Show Password</span> -->
            <p>Passwords must be minimum of 12 characters and include 1 lower case letter, 1 capital letter, 1 number and 1 special character(*, &, $, %, #, @, !)</p>
            <button type="submit" class="login-button">Login</button>
        </form>
        <p class="no-registration">You don't have an account yet? <a class="register" href="/account/registration">Sign In</a></p>
    </div>
</div>