<div class="hero">
    <picture>
        <!-- <source media="(min-width: 700px)" srcset="/images/vehicles/delorean.jpg"> -->
        <img src="/images/vehicles/delorean.jpg" alt="This is a picture of a delorean">
    </picture>
    <h1 class="hero-title">Welcome to CSE Motors!</h1>
    <div class="hero-box">
        <h3 class="hero-car-name">DMC Delorean</h3>
        <ul class="hero-car-desc">
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button class="call-to-action">
            <img src="/images/site/own_today.png" alt="own today image button">
        </button>
    </div>
</div>