<div class="hero">
    <picture>
        <source media="(min-width: 800px)" srcset="/images/vehicles/delorean.jpg">
        <img src="/images/vehicles/delorean-tn.jpg" alt="This is a picture of a delorean" srcset="" >
    </picture>
    <h2 class="hero-title">Welcome to CSE Motors!</h2>
    <div class="hero-box">
        <h3 class="hero-car-name">DMC Delorean</h3>
        <ul class="hero-car-desc">
            <li>3 Cup holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button class="call-to-action">Own Today</button>
    </div>
</div>