<div class="upgrades">
    <div>
        <div class="upgrade-picture">
            <img src="/images/upgrades/flux-cap.png" 
            alt="Picture of flux capacitator">
        </div>
        <h4>Flux Capacitator</h4>
    </div>
    <div>
        <div class="upgrade-picture">
            <img src="/images/upgrades/flame.jpg" 
            alt="Picture of flame decals">
        </div>
        <h4>Flame Decals</h4>
    </div>
    <div>
        <div class="upgrade-picture">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Picture of bumper sticker">
        </div>
        <h4>Bumper Stickers</h4>
    </div>
    <div>
        <div class="upgrade-picture">
            <img src="/images/upgrades/hub-cap.jpg" 
            alt="Picture of the hub-cap">
        </div>
        <h4>Hub Caps</h4>
    </div>
</div>