<div class="upgrades">
    <h2 class="upgrades-title"> Delorean Upgrades</h2>
    <div>
        <div class="upgrade-picture">
            <img src="/images/upgrades/flux-cap.png" 
            alt="Picture of flux capacitator">
        </div>
        <h3>Flux Capacitator</h3>
    </div>
    <div>
        <div class="upgrade-picture">
            <img src="/images/upgrades/flame.jpg" 
            alt="Picture of flame decals">
        </div>
        <h3>Flame Decals</h3>
    </div>
    <div>
        <div class="upgrade-picture">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Picture of bumper sticker">
        </div>
        <h3>Bumper Stickers</h3>
    </div>
    <div>
        <div class="upgrade-picture">
            <img src="/images/upgrades/hub-cap.jpg" 
            alt="Picture of the hub-cap">
        </div>
        <h3>Hub Caps</h3>
    </div>
</div>