<h1 class="add-classification-page"><%= title %></h1>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>
<div class="add-classification-wrapper">
    <div class="add-box">
        <form action="/inv/add-classification" method="post">
            <p>Enter the new classification name, don't include any special characters (spaces included)</p>
            <hr>
            <label for="classification_name">
                Classification Name:
                <input type="text" name="classification_name" id="classificationName" required value="<%= locals.classification_name %>" placeholder="New classification name here">
            </label>
            <button type="submit" class="add-class-button">Add Classification</button>
        </form>
    </div>
</div>
