<%#Head section that checks if a title variable exists and assigns it to an h1 tag %>
<% if  (title) { %>
<h1 class="classification-page-title"><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%# messages() %>

<%- grid %>