<h1 class="details-page-title"><%= title %></h1>
<%- messages() %>
    
<ul class="inv-management-list">
    <li><a title="Click to add a new classification" href="/inv/add-classification">Add a New Classification</a></li>
    <li>
    <a title="Click to add a new Vehicle" href="/inv/add-inventory">Add a New Vehicle</a>
    </li>
</ul>