<h1 class="error-page-title"><%= title %></h1>
<div class="error-box">
<p class="error-text">
<%- message %>
</p>
<img  class="error-image" src="/images/site/errorpicture.jpg" alt="An image alusive to the error page created with Dall-E">
</div>