<h1 class="approval-page-title"><%= title %></h1>
<%- messages() %>
<p class="manage-inventory-instructions">Select what type of requests you want to approve</p>
<select name="approval-list" id="approval-list">
    <option value="" selected>Select an option</option>
    <option value="classification">Classification</option>
    <option value="inventory">Inventory Item</option>
</select>

<div class="approval-box">
</div>

<noscript>JavaScript must be enabled to use this page</noscript>

<script src="../../js/inventoryApproval.js"></script>
